@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{padding: 0;margin: 0;box-sizing: border-box;word-wrap: break-word !important;font-family: 'Roboto', sans-serif;}
* h6, h5, h4, h3, h2, h1{font-family: 'Montserrat', sans-serif;}

html{height: 100%;width: 100%;}

body{width: 100%;height: 100%;display: grid;justify-items: center;align-content: center;}

hr{height: 0px;width: 95%;margin: auto;}

.far{padding-right: 5.5px}



/*main_container start*/
#main_container{display: grid;grid-template-columns: auto;grid-template-rows: auto auto auto auto;grid-gap: 15px;width: 80%;height: 100vh;padding: 25.5px 0px 10px 0px !important;justify-content: center;}


/*left_container start*/
#left_container{grid-row: 1/3;border: 1px solid #00000026;box-shadow: 0px 5px 15px 0px #00000033;display: grid;grid-template-rows: auto auto auto;padding-bottom: 35px;}

/*left_container head start*/
.image{background-image: url('images/zaheer.jpg');height: 170px;width: auto;background-repeat: no-repeat;background-position: center top;font-size: 10.5px;display: grid;align-items: flex-end;padding: 0 0 2px 5px;color: white;}

/*left_container_contact start*/
.left_container_contact{display: grid;grid-template-rows: auto auto auto auto;color: #000000b3;}
.contact_icon{color: teal;padding: 15px 10.9px 15px 10.5px;}
.left_container_contact p a{text-decoration: none;}
.email{color: #000000b3;}
.number{color: #000000b3;}

/*left_container_skills start*/
.left_container_skills{display: grid;grid-template-rows: auto auto auto auto;margin-bottom: 35px;padding-left: 10.5px;color: #000000b3;padding-top: 15.5px;}
.skill_icon{color: teal;padding-right: 15px;}
.skills{font-size: 20px;}
.before_skills{width: calc(100% - 5%);height: 15.5px;background-color: #e6e6e6;margin-top: 5px;border-radius: 10px;color: white;font-size: 12.5px;}
.after_html_skill{width: calc(100% - 30%);height: 15.5px;background-color: teal;text-align: center;border-radius: 10px;display: grid;place-content:  center;}
.after_css_skill{width: calc(100% - 50%);height: 15.5px;background-color: teal;text-align: center;border-radius: 10px;display: grid;place-content: center;}
.after_c_skill{width: calc(100% - 80%);height: 15.5px;background-color: teal;text-align: center;border-radius: 10px;display: grid;place-content: center;}
.css, .c{margin-top: 5.5px;}

/*left_container_languages start*/
.left_container_languages{display: grid;grid-template-rows: auto auto auto auto;padding-left: 10.5px;color: #000000b3;}
.language_icon{color: teal;padding-right: 15px;}
.languages{font-size: 20px;}
.before_languages{width: calc(100% - 5%);height: 16px;background-color: #e6e6e6;margin-top: 5px;border-radius: 10px;}
.after_bangla_language{width: calc(100% - 15%);height: 16px;background-color: teal;border-radius: 10px;}
.after_hindi_language{width: calc(100% - 50%);height: 16px;background-color: teal;border-radius: 10px;}
.after_english_language{width: calc(100% - 70%);height: 16px;background-color: teal;border-radius: 10px;}
.hindi, .english{margin-top: 5.5px;}


/*right_top_container start*/
#right_top_container{border: 1px solid #00000026;box-shadow: 0px 5px 15px 0px #00000033;color: #000000b3;padding-bottom: 15px;}

/*right_top_container_head start*/
.right_top_container_head{font-size: 25px;padding: 20px 0px 5px 15px;}
.work_icon{color: teal;padding-right: 15px;}

/*right_top_container_main start*/
.right_top_container_work1{padding-left: 20px;padding-bottom: 10px;}
.right_top_container_work1> h5{font-size: 15.5px;padding-bottom: 10px;}
.right_top_container_work1> h6{color: teal;font-size: 12.5px;padding-bottom: 10px;}
.current{background-color: teal;border: 1px solid teal;border-radius: 5px;padding: 2px 5px;color: white;}
.right_top_container_work1> p{width: 95.5%;}

.right_top_container_work2{padding-left: 20px;padding-bottom: 10px;}
.right_top_container_work2> h5{font-size: 15.5px;padding-bottom: 10px;}
.right_top_container_work2> h6{color: teal;font-size: 12.5px;padding-bottom: 10px;}
.right_top_container_work2> p{width: 95.5%;}

.right_top_container_work3{padding-left: 20px;}
.right_top_container_work3> h5{font-size: 15.5px;padding-bottom: 10px;}
.right_top_container_work3> h6{color: teal;font-size: 12.5px;padding-bottom: 10px;}
.right_top_container_work3 p{width: 95.5%;}


/*right_bottom_container start*/
#right_bottom_container{border: 1px solid #00000026;box-shadow: 0px 5px 15px 0px #00000033;color: #000000b3;padding-bottom: 15px;}

/*right_bottom_container_head start*/
.right_bottom_container_head{font-size: 25px;padding: 20px 0px 5px 15px;}
.education_icon{color: teal;padding-right: 15px;}

/*right_bottom_container_main start*/
.right_bottom_container_education1{padding-left: 20px;padding-bottom: 10px;}
.right_bottom_container_education1> h5{font-size: 15.5px;padding-bottom: 10px;}
.right_bottom_container_education1> h6{color: teal;font-size: 12.5px;padding-bottom: 10px;}

.right_bottom_container_education2{padding-left: 20px;padding-bottom: 10px;}
.right_bottom_container_education2> h5{font-size: 15.5px;padding-bottom: 10px;}
.right_bottom_container_education2> h6{color: teal;font-size: 12.5px;padding-bottom: 10px;}

.right_bottom_container_education3{padding-left: 20px;}
.right_bottom_container_education3> h5{font-size: 15.5px;padding-bottom: 10px;}
.right_bottom_container_education3> h6{color: teal;font-size: 12.5px;padding-bottom: 10px;}


/*footer start*/
#footer{grid-column: 1/-1;padding: 1px 0px 2px 0px;background-color: teal;color: white;display: grid;justify-items: center;align-items: center;font-size: 15px;}

.footer_icon_div{height: auto;padding: 1.9px 0px 0px 0px;margin-bottom: -20px;z-index: 2 !important;}
.footer_icon_div a i{margin: 0px 2px;color: white;}
.footer_icon_div a i:hover{color: #cccccc;}

.unsupported{display: none;}